force-app/main/default/flows/SDO_OMS_Create_Shipment_Details_for_Fulfillment_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Consumer_Order</name>
        <label>Consumer Order?</label>
        <locationX>528</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Get_Serial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - Create Asset</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSalesChannelName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>B2B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FO_Products</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Line_0</name>
        <label>Shipping Line?</label>
        <locationX>396</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Shipment_Items_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create shipment item</defaultConnectorLabel>
        <rules>
            <name>Yes_skip_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FO_Products.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FO_Products</targetReference>
            </connector>
            <label>Yes - skip</label>
        </rules>
    </decisions>
    <description>Bill Macaulay Oct 2022
Create shipment and add lot / exp to shipment items for fullfilled FOs and Create Asset</description>
    <formulas>
        <name>ExpectedDeliveryDate</name>
        <dataType>Date</dataType>
        <expression>today()+2</expression>
    </formulas>
    <formulas>
        <name>vExpDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 365</expression>
    </formulas>
    <formulas>
        <name>vLotNumber</name>
        <dataType>String</dataType>
        <expression>&apos;KM-&apos; + TEXT( {!$Flow.CurrentDateTime} - 23 )</expression>
    </formulas>
    <interviewLabel>Create Shipment Details for Fulfillment Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OMS - Create Shipment Details for Fulfillment Order</label>
    <loops>
        <name>FO_Products</name>
        <label>FO Products</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>Fulfillment_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Shipping_Line_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>616</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Shipment_with_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>FO_Products.OrderItemSummary.OrderSummary.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FO_Products.Product2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>FO_Products.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_OMS_Expiration_Date__c</field>
            <value>
                <elementReference>vExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_OMS_Lot_Number__c</field>
            <value>
                <elementReference>varLotNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>varSerial</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Shipment_Record</name>
        <label>Create Shipment Record</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Fulfillment_Order_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>ExpectedDeliveryDate</field>
            <value>
                <elementReference>ExpectedDeliveryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Provider</field>
            <value>
                <stringValue>FedEx</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToCity</field>
            <value>
                <elementReference>$Record.FulfilledToCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToName</field>
            <value>
                <elementReference>$Record.FulfilledToName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToPostalCode</field>
            <value>
                <elementReference>$Record.FulfilledToPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToState</field>
            <value>
                <elementReference>$Record.FulfilledToState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToStreet</field>
            <value>
                <elementReference>$Record.FulfilledToStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ready for Shipping</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackingNumber</field>
            <value>
                <stringValue>12345</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TrackingUrl</field>
            <value>
                <stringValue>www.fedex.com/tracking/12345</stringValue>
            </value>
        </inputAssignments>
        <object>Shipment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Shipment_Items_0</name>
        <label>Shipment Items</label>
        <locationX>528</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Consumer_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FO_Products.Product2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfillmentOrderLineItemId</field>
            <value>
                <elementReference>FO_Products.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemSummaryId</field>
            <value>
                <elementReference>FO_Products.OrderItemSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>FO_Products.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>FO_Products.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_OMS_Expiration_Date__c</field>
            <value>
                <elementReference>vExpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SDO_OMS_Lot_Number__c</field>
            <value>
                <elementReference>vLotNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipmentId</field>
            <value>
                <elementReference>Create_Shipment_Record</elementReference>
            </value>
        </inputAssignments>
        <object>ShipmentItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fulfillment_Order_Products</name>
        <label>Fulfillment Order Products</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FO_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Channel</name>
        <label>Get Sales Channel</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Shipment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummary.SalesChannelId</elementReference>
            </value>
        </filters>
        <object>SalesChannel</object>
        <outputAssignments>
            <assignToReference>varSalesChannelName</assignToReference>
            <field>SalesChannelName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Serial</name>
        <label>Get Serial</label>
        <locationX>616</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Shipment_Record</elementReference>
            </value>
        </filters>
        <object>ShipmentItem</object>
        <outputAssignments>
            <assignToReference>varSerial</assignToReference>
            <field>Serial_Number2__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Shipment_with_Asset</name>
        <label>Update Shipment with Asset</label>
        <locationX>616</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>FO_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shipment_Items_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SDO_OMS_AssetId__c</field>
            <value>
                <elementReference>Create_Asset</elementReference>
            </value>
        </inputAssignments>
        <object>ShipmentItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Channel</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varLotNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesChannelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSerial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
