force-app/main/default/flows/SDO_Service_Asset_On_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Asset_Status</name>
        <label>Check Asset Status</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SDO_Service_Perform_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Message</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Low</label>
        </rules>
    </decisions>
    <decisions>
        <description>used to evaluate the custom setting record to see if there is a custom setting record activated before moving forward</description>
        <name>Evaluate_process_automation_settings</name>
        <label>Evaluate process automation settings</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SDO_Service_Case_Wrap_Up_Classification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.xDO_Tool_ProcessAutomationSwitch__c.xDO_Tool_ProcessAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Asset_Status</targetReference>
            </connector>
            <label>SDO_Service_Case_Wrap_Up_Classification</label>
        </rules>
    </decisions>
    <description>Fired when the asset is updated - listening for Low performance</description>
    <formulas>
        <name>NumberToUse</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.Contact.MobilePhone},{!$Record.Contact.Phone})</expression>
    </formulas>
    <interviewLabel>SDO Service - Asset - On Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Asset - On Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluate_process_automation_settings</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Message</name>
        <label>Send Message</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <flowName>SDO_Service_Send_Message</flowName>
        <inputAssignments>
            <name>ContextRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberToSendTo</name>
            <value>
                <elementReference>NumberToUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordToAssociateTo</name>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TemplateToUse</name>
            <value>
                <stringValue>Alert_Low_Output</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
