force-app/main/default/flows/VDD_Confirm_Shipment_Delivery_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Confirm_Shipment_Delivery</name>
        <label>Confirm Shipment Delivery</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>VDD_ConfirmShipmentDelivery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>shipmentId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VDD_ConfirmShipmentDelivery</nameSegment>
        <outputParameters>
            <assignToReference>outputSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outputMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <description>Screen Flow Quick Action on Shipment: Marks shipment as Delivered and cascades to all asset statuses. Triggers the Delivery Coordination agent.</description>
    <environments>Default</environments>
    <interviewLabel>VDD Confirm Shipment Delivery-{!$Flow.CurrentDateTime}</interviewLabel>
    <label>VDD Confirm Shipment Delivery Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Result_Screen</name>
        <label>Result</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResultDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!outputMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Shipment_Delivery</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>outputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
