force-app/main/default/flows/VDD_Complete_Installation_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Screen Flow Quick Action: Completes device installation by setting Asset to Installed, creating healthy AssetAttributes, and activating threshold monitors. Triggers the Post-Install Onboarding agent topic.</description>
    <environments>Default</environments>
    <interviewLabel>VDD Complete Installation Action-{!$Flow.CurrentDateTime}</interviewLabel>
    <label>VDD Complete Installation Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <actionCalls>
        <name>Complete_Installation</name>
        <label>Complete Installation</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>VDD_CompleteInstallation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>outputSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>outputMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <screens>
        <name>Result_Screen</name>
        <label>Result</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <fields>
            <name>ResultDisplay</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b&gt;{!outputMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
        </fields>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complete_Installation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
